header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container{
  background: green;
  padding-top: 30px;
  padding-bottom: 30px;
  /* margin-left: 30px; */
  /* margin-right: 30px; */
}
.race-tracks{
  background: #3E3E3E;
  
  border-top: 3px solid #C9A11B;
  border-bottom: 3px solid #C9A11B;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.race-track{
  height: 40px;
  position: relative;
  border: 2px dashed #5D5D5B;
  margin-top: -1px;
  margin-bottom: -1px;
  /* border-top: 2px dashed #5D5D5B; */
  /* border-bottom: 2px dashed #5D5D5B; */
  
}
.race-car{
  position: absolute;
  top:25%;
  height: 50%;
  /* padding:2px; */
  border: 1px solid red;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;

}